.tippy-box[data-animation=fade][data-state=hidden] {
    opacity: 0
}

[data-tippy-root] {
    max-width: calc(100vw - 10px)
}

.tippy-box {
    position           : relative;
    background-color   : #333;
    color              : #fff;
    border-radius      : 4px;
    font-size          : 14px;
    line-height        : 1.4;
    white-space        : normal;
    outline            : 0;
    transition-property: transform, visibility, opacity
}

.tippy-box[data-placement^=top]>.tippy-arrow {
    bottom: 0
}

.tippy-box[data-placement^=top]>.tippy-arrow:before {
    bottom          : -7px;
    left            : 0;
    border-width    : 8px 8px 0;
    border-top-color: initial;
    transform-origin: center top
}

.tippy-box[data-placement^=bottom]>.tippy-arrow {
    top: 0
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
    top                : -7px;
    left               : 0;
    border-width       : 0 8px 8px;
    border-bottom-color: initial;
    transform-origin   : center bottom
}

.tippy-box[data-placement^=left]>.tippy-arrow {
    right: 0
}

.tippy-box[data-placement^=left]>.tippy-arrow:before {
    border-width     : 8px 0 8px 8px;
    border-left-color: initial;
    right            : -7px;
    transform-origin : center left
}

.tippy-box[data-placement^=right]>.tippy-arrow {
    left: 0
}

.tippy-box[data-placement^=right]>.tippy-arrow:before {
    left              : -7px;
    border-width      : 8px 8px 8px 0;
    border-right-color: initial;
    transform-origin  : center right
}

.tippy-box[data-inertia][data-state=visible] {
    transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11)
}

.tippy-arrow {
    width : 16px;
    height: 16px;
    color : #333
}

.tippy-arrow:before {
    content     : "";
    position    : absolute;
    border-color: transparent;
    border-style: solid
}

.tippy-content {
    position: relative;
    padding : 5px 9px;
    z-index : 1
}

.reactions-root {
    /*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
    padding: 0 5px
}

.reactions-root *,
.reactions-root ::before,
.reactions-root ::after {
    box-sizing: border-box
}

.reactions-root html {
    -moz-tab-size: 4;
    tab-size     : 4
}

.reactions-root html {
    line-height             : 1.15;
    -webkit-text-size-adjust: 100%
}

.reactions-root body {
    margin: 0
}

.reactions-root body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"
}

.reactions-root hr {
    height: 0;
    color : inherit
}

.reactions-root abbr[title] {
    text-decoration: underline dotted
}

.reactions-root b,
.reactions-root strong {
    font-weight: bolder
}

.reactions-root code,
.reactions-root kbd,
.reactions-root samp,
.reactions-root pre {
    font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    font-size  : 1em
}

.reactions-root small {
    font-size: 80%
}

.reactions-root sub,
.reactions-root sup {
    font-size     : 75%;
    line-height   : 0;
    position      : relative;
    vertical-align: baseline
}

.reactions-root sub {
    bottom: -0.25em
}

.reactions-root sup {
    top: -0.5em
}

.reactions-root table {
    text-indent : 0;
    border-color: inherit
}

.reactions-root button,
.reactions-root input,
.reactions-root optgroup,
.reactions-root select,
.reactions-root textarea {
    font-family: inherit;
    font-size  : 100%;
    line-height: 1.15;
    margin     : 0
}

.reactions-root button,
.reactions-root select {
    text-transform: none
}

.reactions-root button,
.reactions-root [type=button],
.reactions-root [type=reset],
.reactions-root [type=submit] {
    -webkit-appearance: button
}

.reactions-root ::-moz-focus-inner {
    border-style: none;
    padding     : 0
}

.reactions-root :-moz-focusring {
    outline: 1px dotted ButtonText
}

.reactions-root :-moz-ui-invalid {
    box-shadow: none
}

.reactions-root legend {
    padding: 0
}

.reactions-root progress {
    vertical-align: baseline
}

.reactions-root ::-webkit-inner-spin-button,
.reactions-root ::-webkit-outer-spin-button {
    height: auto
}

.reactions-root [type=search] {
    -webkit-appearance: textfield;
    outline-offset    : -2px
}

.reactions-root ::-webkit-search-decoration {
    -webkit-appearance: none
}

.reactions-root ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font              : inherit
}

.reactions-root summary {
    display: list-item
}

.reactions-root .emoji-mart,
.reactions-root .emoji-mart * {
    box-sizing : border-box;
    line-height: 1.15
}

.reactions-root .emoji-mart {
    font-family  : -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    font-size    : 16px;
    display      : inline-block;
    color        : #222427;
    border       : 1px solid #d9d9d9;
    border-radius: 5px;
    background   : #fff
}

.reactions-root .emoji-mart .emoji-mart-emoji {
    padding: 6px
}

.reactions-root .emoji-mart-bar {
    border: 0 solid #d9d9d9
}

.reactions-root .emoji-mart-bar:first-child {
    border-bottom-width    : 1px;
    border-top-left-radius : 5px;
    border-top-right-radius: 5px
}

.reactions-root .emoji-mart-bar:last-child {
    border-top-width          : 1px;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius: 5px
}

.reactions-root .emoji-mart-anchors {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    padding        : 0 6px;
    line-height    : 0
}

.reactions-root .emoji-mart-anchor {
    position  : relative;
    display   : block;
    flex      : 1 1 auto;
    color     : #858585;
    text-align: center;
    padding   : 12px 4px;
    overflow  : hidden;
    transition: color .1s ease-out;
    margin    : 0;
    box-shadow: none;
    background: none;
    border    : none
}

.reactions-root .emoji-mart-anchor:focus {
    outline: 0
}

.reactions-root .emoji-mart-anchor:hover,
.reactions-root .emoji-mart-anchor:focus,
.reactions-root .emoji-mart-anchor-selected {
    color: #464646
}

.reactions-root .emoji-mart-anchor-selected .emoji-mart-anchor-bar {
    bottom: 0
}

.reactions-root .emoji-mart-anchor-bar {
    position        : absolute;
    bottom          : -3px;
    left            : 0;
    width           : 100%;
    height          : 3px;
    background-color: #464646
}

.reactions-root .emoji-mart-anchors i {
    display  : inline-block;
    width    : 100%;
    max-width: 22px
}

.reactions-root .emoji-mart-anchors svg,
.reactions-root .emoji-mart-anchors img {
    fill  : currentColor;
    height: 18px;
    width : 18px
}

.reactions-root .emoji-mart-scroll {
    overflow-y : scroll;
    overflow-x : hidden;
    height     : 270px;
    padding    : 0 6px 6px 6px;
    will-change: transform
}

.reactions-root .emoji-mart-search {
    margin-top: 6px;
    padding   : 0 6px;
    position  : relative
}

.reactions-root .emoji-mart-search input {
    font-size    : 16px;
    display      : block;
    width        : 100%;
    padding      : 5px 25px 6px 10px;
    border-radius: 5px;
    border       : 1px solid #d9d9d9;
    outline      : 0
}

.reactions-root .emoji-mart-search input,
.reactions-root .emoji-mart-search input::-webkit-search-decoration,
.reactions-root .emoji-mart-search input::-webkit-search-cancel-button,
.reactions-root .emoji-mart-search input::-webkit-search-results-button,
.reactions-root .emoji-mart-search input::-webkit-search-results-decoration {
    -webkit-appearance: none
}

.reactions-root .emoji-mart-search-icon {
    position  : absolute;
    top       : 7px;
    right     : 11px;
    z-index   : 2;
    padding   : 2px 5px 1px;
    border    : none;
    background: none
}

.reactions-root .emoji-mart-category .emoji-mart-emoji span {
    z-index   : 1;
    position  : relative;
    text-align: center;
    cursor    : default
}

.reactions-root .emoji-mart-category .emoji-mart-emoji:hover:before {
    z-index         : 0;
    content         : "";
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: #f4f4f4;
    border-radius   : 100%
}

.reactions-root .emoji-mart-category-label {
    z-index : 2;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top     : 0
}

.reactions-root .emoji-mart-category-label span {
    display         : block;
    width           : 100%;
    font-weight     : 500;
    padding         : 5px 6px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.95)
}

.reactions-root .emoji-mart-category-list {
    margin : 0;
    padding: 0
}

.reactions-root .emoji-mart-category-list li {
    list-style: none;
    margin    : 0;
    padding   : 0;
    display   : inline-block
}

.reactions-root .emoji-mart-emoji {
    position  : relative;
    display   : inline-block;
    font-size : 0;
    margin    : 0;
    padding   : 0;
    border    : none;
    background: none;
    box-shadow: none
}

.reactions-root .emoji-mart-emoji-native {
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji"
}

.reactions-root .emoji-mart-no-results {
    font-size  : 14px;
    text-align : center;
    padding-top: 70px;
    color      : #858585
}

.reactions-root .emoji-mart-no-results-img {
    display     : block;
    margin-left : auto;
    margin-right: auto;
    width       : 50%
}

.reactions-root .emoji-mart-no-results .emoji-mart-category-label {
    display: none
}

.reactions-root .emoji-mart-no-results .emoji-mart-no-results-label {
    margin-top: .2em
}

.reactions-root .emoji-mart-no-results .emoji-mart-emoji:hover:before {
    content: none
}

.reactions-root .emoji-mart-preview {
    position: relative;
    height  : 70px
}

.reactions-root .emoji-mart-preview-emoji,
.reactions-root .emoji-mart-preview-data,
.reactions-root .emoji-mart-preview-skins {
    position : absolute;
    top      : 50%;
    transform: translateY(-50%)
}

.reactions-root .emoji-mart-preview-emoji {
    left: 12px
}

.reactions-root .emoji-mart-preview-data {
    left      : 68px;
    right     : 12px;
    word-break: break-all
}

.reactions-root .emoji-mart-preview-skins {
    right     : 30px;
    text-align: right
}

.reactions-root .emoji-mart-preview-skins.custom {
    right     : 10px;
    text-align: right
}

.reactions-root .emoji-mart-preview-name {
    font-size: 14px
}

.reactions-root .emoji-mart-preview-shortname {
    font-size: 12px;
    color    : #888
}

.reactions-root .emoji-mart-preview-shortname+.emoji-mart-preview-shortname,
.reactions-root .emoji-mart-preview-shortname+.emoji-mart-preview-emoticon,
.reactions-root .emoji-mart-preview-emoticon+.emoji-mart-preview-emoticon {
    margin-left: .5em
}

.reactions-root .emoji-mart-preview-emoticon {
    font-size: 11px;
    color    : #bbb
}

.reactions-root .emoji-mart-title span {
    display       : inline-block;
    vertical-align: middle
}

.reactions-root .emoji-mart-title .emoji-mart-emoji {
    padding: 0
}

.reactions-root .emoji-mart-title-label {
    color      : #999a9c;
    font-size  : 26px;
    font-weight: 300
}

.reactions-root .emoji-mart-skin-swatches {
    font-size       : 0;
    padding         : 2px 0;
    border          : 1px solid #d9d9d9;
    border-radius   : 12px;
    background-color: #fff
}

.reactions-root .emoji-mart-skin-swatches.custom {
    font-size       : 0;
    border          : none;
    background-color: #fff
}

.reactions-root .emoji-mart-skin-swatches.opened .emoji-mart-skin-swatch {
    width  : 16px;
    padding: 0 2px
}

.reactions-root .emoji-mart-skin-swatches.opened .emoji-mart-skin-swatch.selected:after {
    opacity: .75
}

.reactions-root .emoji-mart-skin-swatch {
    display                   : inline-block;
    width                     : 0;
    vertical-align            : middle;
    transition-property       : width, padding;
    transition-duration       : .125s;
    transition-timing-function: ease-out
}

.reactions-root .emoji-mart-skin-swatch:nth-child(1) {
    transition-delay: 0s
}

.reactions-root .emoji-mart-skin-swatch:nth-child(2) {
    transition-delay: .03s
}

.reactions-root .emoji-mart-skin-swatch:nth-child(3) {
    transition-delay: .06s
}

.reactions-root .emoji-mart-skin-swatch:nth-child(4) {
    transition-delay: .09s
}

.reactions-root .emoji-mart-skin-swatch:nth-child(5) {
    transition-delay: .12s
}

.reactions-root .emoji-mart-skin-swatch:nth-child(6) {
    transition-delay: .15s
}

.reactions-root .emoji-mart-skin-swatch.selected {
    position: relative;
    width   : 16px;
    padding : 0 2px
}

.reactions-root .emoji-mart-skin-swatch.selected:after {
    content         : "";
    position        : absolute;
    top             : 50%;
    left            : 50%;
    width           : 4px;
    height          : 4px;
    margin          : -2px 0 0 -2px;
    background-color: #fff;
    border-radius   : 100%;
    pointer-events  : none;
    opacity         : 0;
    transition      : opacity .2s ease-out
}

.reactions-root .emoji-mart-skin-swatch.custom {
    display                   : inline-block;
    width                     : 0;
    height                    : 38px;
    overflow                  : hidden;
    vertical-align            : middle;
    transition-property       : width, height;
    transition-duration       : .125s;
    transition-timing-function: ease-out;
    cursor                    : default
}

.reactions-root .emoji-mart-skin-swatch.custom.selected {
    position: relative;
    width   : 36px;
    height  : 38px;
    padding : 0 2px 0 0
}

.reactions-root .emoji-mart-skin-swatch.custom.selected:after {
    content: "";
    width  : 0;
    height : 0
}

.reactions-root .emoji-mart-skin-swatches.custom .emoji-mart-skin-swatch.custom:hover {
    background-color: #f4f4f4;
    border-radius   : 10%
}

.reactions-root .emoji-mart-skin-swatches.custom.opened .emoji-mart-skin-swatch.custom {
    width  : 36px;
    height : 38px;
    padding: 0 2px 0 0
}

.reactions-root .emoji-mart-skin-swatches.custom.opened .emoji-mart-skin-swatch.custom.selected:after {
    opacity: .75
}

.reactions-root .emoji-mart-skin-text.opened {
    display         : inline-block;
    vertical-align  : middle;
    text-align      : left;
    color           : #888;
    font-size       : 11px;
    padding         : 5px 2px;
    width           : 95px;
    height          : 40px;
    border-radius   : 10%;
    background-color: #fff
}

.reactions-root .emoji-mart-skin {
    display      : inline-block;
    width        : 100%;
    padding-top  : 100%;
    max-width    : 12px;
    border-radius: 100%
}

.reactions-root .emoji-mart-skin-tone-1 {
    background-color: #ffc93a
}

.reactions-root .emoji-mart-skin-tone-2 {
    background-color: #fadcbc
}

.reactions-root .emoji-mart-skin-tone-3 {
    background-color: #e0bb95
}

.reactions-root .emoji-mart-skin-tone-4 {
    background-color: #bf8f68
}

.reactions-root .emoji-mart-skin-tone-5 {
    background-color: #9b643d
}

.reactions-root .emoji-mart-skin-tone-6 {
    background-color: #594539
}

.reactions-root .emoji-mart-sr-only {
    position: absolute;
    width   : 1px;
    height  : 1px;
    padding : 0;
    margin  : -1px;
    overflow: hidden;
    clip    : rect(0, 0, 0, 0);
    border  : 0
}

.reactions-root .emoji-mart-dark {
    color           : #fff;
    border-color    : #555453;
    background-color: #222
}

.reactions-root .emoji-mart-dark .emoji-mart-bar {
    border-color: #555453
}

.reactions-root .emoji-mart-dark .emoji-mart-search input {
    color           : #fff;
    border-color    : #555453;
    background-color: #2f2f2f
}

.reactions-root .emoji-mart-dark .emoji-mart-search-icon svg {
    fill: #fff
}

.reactions-root .emoji-mart-dark .emoji-mart-category .emoji-mart-emoji:hover:before {
    background-color: #444
}

.reactions-root .emoji-mart-dark .emoji-mart-category-label span {
    background-color: #222;
    color           : #fff
}

.reactions-root .emoji-mart-dark .emoji-mart-skin-swatches {
    border-color    : #555453;
    background-color: #222
}

.reactions-root .emoji-mart-dark .emoji-mart-anchor:hover,
.reactions-root .emoji-mart-dark .emoji-mart-anchor:focus,
.reactions-root .emoji-mart-dark .emoji-mart-anchor-selected {
    color: #bfbfbf
}

.reactions-container {
    display: flex;
    gap    : 4px
}

.reaction-counters-container {
    display  : flex;
    flex-flow: row wrap;
    gap      : 4px
}

.reaction-chip {
    cursor          : pointer;
    height          : 26px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    border          : 1px solid #d0d7de;
    background-color: #f6f8fa
}

.reaction-chip.reaction-chip--clicked {
    border          : 1px solid #b6e3ff;
    background-color: #ddf4ff
}

.reaction-chip.reaction-chip--disabled {
    cursor: default
}

.reaction-chip:not(.reaction-chip--disabled):hover {
    background-color: #eaeef2
}

.reaction-chip.reaction-chip--clicked:not(.reaction-chip--disabled):hover {
    background-color: #b6e3ff
}

.reaction-counter {
    border-radius: 50%/100%;
    font-size    : 12px;
    padding      : 0 6px
}

.reaction-counter__emoji {
    padding    : 0 2px;
    min-width  : 18px;
    display    : flex;
    align-items: center
}

.reaction-counter__count {
    padding: 0 2px
}

.reaction-counter-tooltip-content {
    max-width : 300px;
    text-align: center;
    font-size : 14px
}

.reaction-picker {
    position: relative
}

.reaction-picker-button {
    border-radius: 50%;
    width        : 26px;
    padding      : 0
}

.reaction-picker-panel {
    position : absolute;
    top      : 0;
    transform: translate(0, 28px);
    z-index  : 999
}

@keyframes icon-spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(1turn)
    }
}

.icon-spin {
    border-radius: 50%;
    animation    : icon-spin .6s linear infinite
}

.reaction-limit-tooltip-content {
    max-width : 300px;
    text-align: center;
    font-size : 14px
}

.reaction-limit-tooltip-tippy-box {
    background-color: #330303d6
}

.post .bookmark {
    width     : 30px;
    height    : 16px;
    position  : absolute;
    color     : #e23b3d;
    background: currentColor;
    opacity   : .8;
    transition: .1s ease;
    right     : -3px;
    z-index   : 999
}

.post .bookmark:hover {
    opacity: 1.0
}

.post .bookmark:before {
    content     : "";
    display     : block;
    position    : absolute;
    width       : 0;
    height      : 0;
    border-style: solid;
    border-width: 8px 0 8px 10px;
    border-color: currentColor transparent;
    left        : -10px
}

.post .bookmark.ncnfrm {
    color: #959595
}

#BookmCntToggle {
    position  : fixed;
    top       : 10px;
    left      : 10px;
    width     : 30px;
    height    : 30px;
    opacity   : .7;
    cursor    : pointer;
    z-index   : 3;
    transition: opacity .3s ease-out
}

#BookmCntToggle:hover {
    opacity: 1.0
}

#BookmCntToggle.default-style {
    background : #F7F7F7;
    border-left: solid 5px currentColor;
    box-shadow : 0 0 6px rgba(0, 0, 0, .42);
    color      : #E41818;
    display    : block;
    height     : 26px;
    width      : 21px;
}

#BookmCntToggle.default-style:before {
    background : currentColor;
    content    : "";
    display    : block;
    height     : 10px;
    margin-left: 3px;
    width      : 8px;
}

#BookmCntToggle.default-style:after {
    border-color: transparent currentColor;
    border-style: solid;
    border-width: 0 4px 6px;
    content     : "";
    display     : block;
    height      : 0;
    left        : 3px;
    position    : absolute;
    top         : 10px;
    width       : 0;
}

.post-box {
    position: relative;
    overflow: visible !important
}

.editBookmark {
    position     : absolute;
    z-index      : 999999;
    right        : -5px;
    top          : 30px;
    box-shadow   : 0 0 15px rgba(0, 0, 0, .5);
    border-radius: 4px
}

.editBookmark h2 {
    border-radius: 4px 4px 0 0
}

.editBookmark .container {
    padding      : .6em .9em !important;
    text-align   : center;
    border-radius: 0 0 4px 4px
}

.editBookmark h1 {
    max-width    : 34em;
    border-radius: 4px 4px 0 0
}

span.delBookmark {
    float      : right;
    cursor     : pointer;
    font-size  : 1.2em !important;
    line-height: 1em;
    background : none transparent !important;
    border     : none 0 transparent !important;
    padding    : 0 !important
}

.editBookmark .inputfield {
    font-weight: 700
}

.editBookmark .inputfield .button {
    margin-left: 5px
}

#MyBookmarks {
    display   : none;
    position  : fixed;
    z-index   : 101;
    left      : 0;
    top       : 0;
    right     : 0;
    height    : 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    width     : 240px
}

#MyBookmarks h2,
#MyBookmarks h1 {
    padding-left : 1em;
    padding-right: 1em;
    text-align   : left !important
}

#MyBookmarks h2,
#MyBookmarks h1,
.editBookmark h2 {
    position: relative;
    width   : auto;
    z-index : 9999999
}

#MyBookmarks inner {
    height      : 9999px;
    position    : relative;
    border-color: inherit;
    padding-top : 1.9em;
    display     : block
}

#MyBookmarks .container {
    position: relative !important;
    height  : 100% !important;
    padding : 0 1em
}

#MyBookmarks .deS {
    display   : block;
    top       : 0 !important;
    text-align: center
}

#MyBookmarks .deS:after {
    content   : "Чтобы поставить закладку, дважды кликните по нужному месту в тексте поста, а затем еще раз по серому маркеру";
    display   : block;
    font-size : .8em;
    margin-top: 1em
}

#MyBookmarks li.BookmarkL {
    position           : relative;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, .1);
}

#MyBookmarks li>span {
    display: block;
    padding: 0 1em;
    margin : 0 -1em;
    cursor : pointer
}

#MyBookmarks li.BookmarkL>span>a {
    padding : .5em 0 .5em 2.2em;
    display : block;
    z-index : 9;
    position: relative
}

#MyBookmarks li.BookmarkL>span.last_click {
    background: rgba(255, 0, 0, .08);
    box-shadow: 0px 0px 8px rgba(255, 0, 0, .16);
}

#MyBookmarks li.BookmarkL>span>dd {
    position   : absolute;
    width      : 240px;
    top        : 0;
    left       : 240px;
    border-left: solid 5px transparent;
    visibility : hidden;
    opacity    : 0;
    transition : all.3s ease;
}

#MyBookmarks li.BookmarkL>span:hover>dd {
    display    : block !important;
    visibility : visible;
    opacity    : 1;
    margin-left: -1.2em;
    cursor     : default
}

#MyBookmarks li.BookmarkL>span em {
    display   : block !important;
    background: rgba(0, 0, 0, .8);
    color     : #fff !important;
    z-index   : 9999
}

#MyBookmarks em.e1 {
    border-radius: 3px 3px 0 0;
    padding      : .5em .7em
}

#MyBookmarks li.BookmarkL em.e1:before {
    content     : " ";
    width       : 0;
    height      : 0;
    position    : absolute;
    display     : inline-block;
    left        : -12px;
    top         : 8px;
    border-style: solid;
    border-width: 6px;
    border-color: transparent rgba(0, 0, 0, .8) transparent transparent;
}

#MyBookmarks li.BookmarkL>span em.e2 {
    border-radius: 0 0 3px 3px;
    padding      : .3em .7em .6em
}

#MyBookmarks em a {
    color: #fafafa !important
}

#MyBookmarks em a:hover {
    opacity: .6
}

#MyBookmarks #bm2 {
    cursor        : pointer;
    display       : inline-block;
    position      : absolute;
    padding       : 0;
    height        : 0;
    width         : 0 !important;
    top           : 0;
    right         : .6em;
    bottom        : 0;
    vertical-align: middle;
    background    : none transparent;
    text-align    : center;
    border-style  : solid;
    border-width  : .5em .9em .5em 0;
    border-color  : transparent currentColor transparent transparent;
}

#MyBookmarks #bm2:after {
    content : "";
    display : block;
    position: absolute;
    width   : 2em;
    height  : 2em;
    margin  : -1em;
    top     : 0;
    right   : -.3em;
}

#MyBookmarks li span strong {
    float      : right;
    cursor     : pointer;
    z-index    : 99999;
    font-weight: normal;
    color      : red;
    padding    : .3em;
    margin     : 0 -.3em;
    position   : relative;
    font-size  : 13px;
    font-family: Tahoma, Verdana, Arial;
    line-height: 1.3em
}

#MyBookmarks li num {
    float  : left;
    width  : 2.2em;
    padding: .5em 0
}

#MyBookmarks span.scrl {
    text-align      : center;
    width           : 120px;
    cursor          : pointer;
    padding-top     : 6px;
    z-index         : 999;
    background-color: inherit;
    color           : green;
    text-shadow     : 0 0 6px green;
    font-size       : 1.2em;
    line-height     : 1.1em
}

#MyBookmarks span.scrl span {
    display: block
}

#MyBookmarks span.scrl span:before {
    content: "^"
}

#MyBookmarks span.scrl.t {
    position  : absolute;
    top       : 0;
    left      : 0;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, .5)
}

#MyBookmarks span.scrl.b {
    position  : absolute;
    top       : 0;
    left      : 118px;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, .5)
}

#MyBookmarks span.scrl.b span {
    transform       : rotate(180deg);
    transform-origin: 50% 40%
}

.tipsy.bookmark {
    margin-left: -10px;
}

.tipsy.bookmark2 {
    margin-left: .3em;
}

#respect td {
    vertical-align: top;
}

#respect figure {
    margin   : 2px;
    width    : 48px;
    word-wrap: break-word;
}

#respect figure:hover .vote {
    display: none;
}

#respect figcaption {
    font-size : .9em;
    margin-top: -5px;
}

#respect .person {
    border-radius: 2px;
    height       : 40px;
    width        : 40px;
}

#respect .prof {
    color: #fff !important;
}

#respect .prof:hover {
    text-decoration: underline !important;
}

.rating_theme .person {
    height: 78px;
    width : 78px;
}

figure .vote {
    border-radius: 50%;
    color        : #fff;
    box-shadow   : 0 1px 1px 1px rgba(0, 0, 0, .3);
    width        : 14px;
    height       : 14px;
    position     : absolute;
    z-index      : 2;
}

figure .vote.plus {
    background : #75CD33;
    line-height: 15px;
}

figure .vote.plus:before {
    content    : "+";
    font-family: arial, helvetica, sans-serif;
    font-size  : 17px;
    width      : 14px;
    height     : 14px;
    font-weight: 700;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5)
}

figure .vote.minus {
    background : #DC261D;
    line-height: 13px;
}

figure .vote.minus:before {
    content    : "–";
    font-family: arial, helvetica, sans-serif;
    font-size  : 15px;
    width      : 14px;
    height     : 14px;
    font-weight: 700;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5)
}

#all_voters {
    border-collapse: collapse;
}

#all_voters tbody {
    display   : block;
    max-height: 40em !important;
    overflow-x: hidden;
    overflow-y: auto;
}

#pun .punbb .main #all_voters td {
    vertical-align: top;
    border        : none 0 transparent !important;
    padding       : 0;
    text-align    : center;
}

#all_voters figure {
    margin   : 5px;
    width    : 82px;
    word-wrap: break-word;
    position : relative;
}

#all_voters figure a {
    display                    : inline-block;
    height                     : 100%;
    backface-visibility        : hidden;
    box-shadow                 : 0 0 1px rgba(0, 0, 0, 0);
    padding-bottom             : .6em;
    -moz-osx-font-smoothing    : grayscale;
    position                   : relative;
    transform                  : translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transform          : translateZ(0);
}

#all_voters figure a:before {
    background                        : currentColor;
    bottom                            : 0;
    content                           : "";
    height                            : 4px;
    left                              : 50%;
    position                          : absolute;
    right                             : 50%;
    transition-duration               : .3s;
    transition-property               : left, right;
    transition-timing-function        : ease-out;
    -webkit-transition-duration       : .3s;
    -webkit-transition-property       : left, right;
    -webkit-transition-timing-function: ease-out;
    z-index                           : -1;
}

#all_voters figure:hover .vote {
    display: none;
}

#all_voters figure:hover a:before,
#all_voters figure:focus a:before,
#all_voters figure:active a:before {
    left : 0;
    right: 0;
}

#all_voters figcaption {
    font-size: .9em;
}

.tipsy .tipsy-inner {
    max-width: 820px !important;
    min-width: 30px !important;
}

.prof {
    text-decoration: none !important;
}

@media screen and (max-width:540px) {
    .rating_theme .person {
        height: 40px !important;
        width : 40px !important;
    }

    #all_voters figure {
        margin: 2px 5px;
        width : auto !important;
    }

    #pun .punbb .main .pun-modal.rating_theme .closer {
        position: absolute !important;
    }

    #all_voters tbody {
        padding-right: 1em;
        margin-right : -1em;
        max-height   : 30em !important;
    }
}

@media screen and (max-width:400px) {
    #all_voters figure {
        margin: 2px 2px;
        width : auto !important;
    }
}