 /* описание форумов */
 .forumDescription {
    max-height: 70px;
    overflow: auto;
    text-align: left;
    padding: 5px;
    margin: 5px 0 15px 0 !important;
}

td.tcl div.tclcon .forumLink {
    display: block;
    position: relative;
    left: -15px;
    margin-bottom: 10px;
    background: var(--accent);
    height: 25px;
    padding-left: 15px;
}

.forumLink a {
    text-transform: uppercase;
    font-family: 'BuyanRegular';
    font-size: 14px;
    font-weight: 100;
    color: var(--pun);
    margin: 0px 3px;
    vertical-align: middle;
    line-height: 25px;
}

.forumLink a:hover {
  color: #044051;
}

#pun .category .tcl span.modlist {
    position: absolute;
    right: 0;
    bottom: 26px;
    background: var(--accent);
    width: 400px;
    text-align: end;
    padding-right: 15px;
    line-height: 25px;
    font-family: 'BuyanRegular';
    font-size: 14px;
    font-weight: 100;
    color: var(--pun);
}

#pun .category .tcl span.modlist a {
    font-family: 'BuyanRegular';
    font-size: 14px;
    font-weight: 100;
    color: var(--pun);
}



/* User-панель */

#pun-status {
    position: absolute;
    left: 3px;
    top: 133px;
}

#pun-status p.container {
   width: 220px;
   height: 57px;
   color: #80a2af;
   font-family: 'ArsenalRegular';
   font-size: 14px;
   text-align: center;
}

#pun-status span {
  display: block;
}

#pun-status span.item2 {
  margin: 5px 0 2px 0;
  font-size: 12px;
}

#pun-status span a {
  color: var(--accent);
  font-size: 12px;
}
#pun-status span a:hover {
  color: var(--hov_ulin);
}

#pun-status span.status-right {
 display: inline-block !important;
}

#pun-status span.item3.status-right {
 font-size: 0px;
 margin-right: 15px;
}

#pun-status span.item5 {
    display: none;
}

 div#u-panel {
    display: block;
    position: absolute;
    top: 153px;
    left: -36px;
    z-index: 5;
}

div#u-panel #option img {
    width: 40px;
    height: 40px;
    filter: opacity(0.5);
}

div#u-panel #option img:hover {
 filter: opacity(1);
}

/* системные ссылки в футере */
div#pun-about {
    position: absolute;
    text-align: center;
    bottom: -19px;
    width: 100%;
    font-size: 14px;
    color: #2e5b5b;
}

div#pun-about a {
    font-family: 'BuyanRegular';
    font-size: 14px;
    color: var(--pun);
}


/* Регулировка размера шрифта в постах */
.FNTslider {
    position: relative;
    z-index: 1000;
    width: 150px;
    height: 5px;
    float: right;
    background: var(--pun);
    top: 6px;
    right: 15%;
}
.FNTslider .before {
    height: 5px;
    position: absolute;
    background: var(--body);
}
.FNTslider .thumb {
    width: 4px;
    height: 13px;
    position: relative;
    top: -4px;
    cursor: pointer;
    background: var(--body);
    margin: 0;
}



/* ПРОФИЛЬ */
#pun-main .post-author {
    border: var(--accent_border);
    padding: 10px 0 0 20px;
}

#pun-main .pa-title {
    text-align: center;
    height: calc(100% + 1px);
    font-size: 12px;
    padding: 15px 0px !important;
    font-weight: normal !important;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    position: absolute;
    top: -1px;
    left: -1px;
    background: var(--accent);
    color: var(--input);
    box-sizing: border-box;
    width: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 
#pun-main li.pa-author {
  width: max-content;
  max-width: 95%;
  min-width: 140px;
  background: var(--input);
  padding: 0 15px;
}
#pun-main li.pa-author a {
    color: var(--ulin);
    font-family: 'BuyanRegular';
    font-size: 22px;
    word-spacing: 5px;
}

#pun-main li.pa-posts, #pun-main li.pa-respect {
   display: inline-block;
   min-width: 50px;
}
#pun-main li.pa-posts:before {
  content: '';
  display: inline-flex;
  position: absolute;
  width: 94%;
  left: 16px;
  margin-top: 7px;
  height: 1px;
  background: var(--accent);
}

#pun-main li.pa-posts .fld-name, #pun-main li.pa-respect .fld-name {
   font-size: 0;
   display: block;
}

#pun-main li.pa-respect .fld-name a {
  font-size: 0;
}
#pun-main li.pa-posts .fld-name:before, #pun-main li.pa-respect .fld-name:before {
   position: relative;
   font-size: 20px;
   font-family: "Material Icons Outlined";
   color: var(--accent);
   background: var(--pun);
   margin: 0px;
}
#pun-main li.pa-posts .fld-name:before {
  content: '\e158';
}
#pun-main li.pa-respect .fld-name:before {
  content: '\e87d';
}
#pun-main li.pa-online {
  margin: 10px 0;
}

#pun-main li.pa-online strong {
    font-weight: 100;
    background: var(--input);
    padding: 3px 15px;
}

#pun-main li.pa-last-visit {
    margin: 5px auto;
}

/* ################################ ЛЗ  ############################*/
#pun-main .pa-fld1 {
  line-height: 16px;
  margin: -4px 0 0 -1px;
}
#pun-main .pa-fld1 div#name,#pun-main .pa-fld1 div#phrase {
  background: var(--input);
  margin: 0 20px;
  padding: 3px;
  font-size: 12px;
}
#pun-main .pa-fld1 a {
  font-style: normal;
  color: var(--ulin);
}
#pun-main .pa-fld1 div#name, #pun-main .pa-fld1 div#age {
  text-align: center;
}
#pun-main .pa-fld1 div#age {
  background: var(--accent);
  color: var(--pun);
  padding: 3px 10px;
}


#pun-main #viewprofile #profile-right #pa-fld1 {
  background: var(--pun);
  border: var(--accent_border);
  width: 260px;
  line-height: 16px;
  margin: 0;
}
#pun-main #viewprofile #profile-right strong div#name, #pun-main #viewprofile #profile-right strong div#phrase {
  background: var(--input);
  margin: 0 20px;
  padding: 3px;
}
#pun-main #viewprofile #profile-right #pa-fld1 span {
  display: none;
}
#pun-main #viewprofile #profile-right #pa-fld1 a {
  font-style: normal;
  color: var(--ulin);
}
#pun-main #viewprofile #profile-right strong div#name, #pun-main #viewprofile #profile-right strong div#age {
  text-align: center;
}
#pun-main #viewprofile #profile-right strong div#age {
  background: var(--accent);
  color: var(--pun);
  padding: 3px 10px;
}

/* кнопки в форме ответа */
#form-buttons tr {height: 30px;} /*высота иконок*/
#form-buttons td {display: inline-block !important;position: relative;width: 26px;height: 26px;line-height: 1!important;text-align: center;background: #b1c4bd !important;margin: 0 5px;border-radius: 5px;} /*скрываем стандартные картинки*/
#form-buttons td img {position: absolute; z-index: 1; height: 100%; width: 100%; top: 0; right: 0; bottom: 0; left: 0;} /*убираем лишние отступы между картинками*/
#form-buttons td::before  {position: relative;top: 4px;z-index: 1;font-size: 19px;font-family: "Material Icons Outlined";font-weight: 900;color: var(--headings);} /*параметры для иконочного шрифта - вид, размер, жирность и т.д. можно и цвет задать*/

td#button-font::before {content: '\e167';} /*иконка вида шрифта*/
td#button-transL::before {content: '\e8e2';} /*иконка транслита*/
td#button-size::before {content: '\e262';} /*иконка размера шрифта*/
td#button-bold::before {content: '\e238'; } /*иконка жирного текста*/
td#button-italic::before {content: '\e23f';} /*иконка курсива*/
td#button-underline::before {content: '\e249';} /*иконка подчёркнутого текста*/
td#button-strike::before {content: '\e239'; } /*иконка зачёркнутого текста*/
td#button-indent::before {content: '\e23e'; } /*иконка красной строки*/
td#button-left::before {content: '\e236'; } /*иконка текста слева*/
td#button-center::before {content: '\e234'; } /*иконка текста по центру*/
td#button-right::before {content: '\e237'; } /*иконка текста справа*/
td#button-link::before {content: '\e157'; } /*иконка ссылки*/
td#button-spoiler::before {content: '\e14e'; } /*иконка спойлера*/
td#button-image::before {content: '\e3f4'; } /*иконка картинки*/
td#button-video::before {content: '\e064';} /*иконка видео*/
td#button-hide::before {content: '\e63f';} /*иконка скрытого текста*/ 
td#button-quote::before {content: '\e244';} /*иконка цитаты*/
td#button-code::before {content: '\e8be';} /*иконка кода*/
td#button-color::before {content: '\e40a';} /*иконка цвета текста*/
td#button-smile::before {content: '\e813';} /*иконка смайлов*/
td#button-keyboard::before {content: '\e312';} /*иконка клавиатуры*/
td#button-table::before {content: '\f1be';} /*таблица*/
td#button-addition::before {content: '\e5c5';} /*дополнительно*/
td#button-files_rusff::before {content: '\e2cc';} /*файлы*/
td#button-mask::before {content: '\e9ed';} /*маска*/
td#button-good::before {content: '\e876';} /*анкета принята*/


#form-buttons td#button-graffiti_rusff {
  display: none !important;
}

/* Реакции */
#pun .reactions-root {
    position: absolute;
    right: 0;
    bottom: 50px;
}
#pun .post-body .reactions-container {
    justify-content: flex-end !important;
    align-items: center;
    
}
#pun .reaction-chip:not(.reaction-chip--disabled):hover {
    background-color: var(--pun); 
    filter: brightness(1.1);
}
#pun .reaction-picker, #pun .reaction-counters-container {
    margin: 0;
}
#pun .post-body .reaction-picker-button {
    background: var(--input);
    border-radius: 2px;
    width: 20px;
    height: 20px;
    padding: 4px;
}
#pun .post-body .reaction-chip.reaction-chip--clicked {
    border: 1px solid var(--input); 
    background: transparent;
    border-radius: 2px;
}

#pun .reactions-root .emoji-mart {
    background: var(--input) !important;
    border: var(--accent_border) !important;
    border-radius: 2px;
}
#pun  .reactions-root .emoji-mart-search input {
    margin-bottom: 6px;
    border: var(--accent_border); 
    box-shadow: none; 
    background: var(--input); 
    border-radius: 0px; 
}
#pun  .emoji-mart-category-label span {
    background-color: var(--input); 
    filter: brightness(1.07); 
    border: var(--accent_border);
}

#pun .reactions-root .emoji-mart-anchor:hover, #pun .reactions-root .emoji-mart-anchor:focus, #pun .reactions-root .emoji-mart-anchor-selected {
  color: var(--accent) !important;
}

.reactions-root .emoji-mart-anchor-selected .emoji-mart-anchor-bar {
  background-color: var(--accent) !important;
}

/* Баннеры партнеров */
#html-footer #banner-box {
    overflow: auto;
    height: 55px;
    width: 948px;
    position: absolute;
    bottom: 31px;
    left: 15px;
    padding: 10px;
    border: var(--accent_border);
    text-align: justify;
}
#html-footer #banner-box:before {
  content: '';
  display: block;
  width: 360px;
  height: 8px;
  position: relative;
  background: var(--pun);
  top: -13px;
  margin: 0 auto;
  z-index: 1;
}

#html-footer #banner-box a {
    filter: opacity(0.4);
}

#html-footer #banner-box a:hover {
    filter: opacity(1);
}

#html-footer #banner-box a img {
    filter: grayscale(95%);
    margin: 1px;
}

#html-footer #banner-box a img:hover {
    filter: grayscale(0%);
}


/* быстрый поиск по теме */
#s-block {
    display: none;
}


/* скрол */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: var(--input);
}  
::-webkit-scrollbar-thumb {
    background-color: var(--accent);
}

/* Стрелки */
#upDown {
  position: absolute;
  right: -57px;
}
#upDown div#ToTop, #upDown div#OnBottom {
    width: 7px;
    height: 7px;
    background: #00d8ff;
    border: 3px solid var(--accent);
}
.go-up, .go-down {
  cursor: pointer; 
  position: fixed; 
  z-index: 999;}
.go-up {
  bottom: calc(30% + 30px);
  opacity: 80%;
}
.go-down {
  bottom: 30%;
  opacity: 80%;
}
.go-down:hover, .go-up:hover { opacity:1; }


/* закладки */
#BookmCntToggle {
    color: var(--accent) !important;
}



/*  таблица в шапке   */
div#activ {
    position: absolute;
    z-index: 5;
    top: 76px;
    left: 190px;
}
div#episode {
  position: absolute;
  z-index: 5;
  top: 76px;
  left: 400px;
}
div#activ img, div#episode img, #need1 img, #need2 img {
  filter: opacity(0.5);
}

div#activ img:hover, div#episode img:hover, #need1 img:hover, #need2 img:hover {
    filter: opacity(1);
}

div#nav {
    position: absolute;
    z-index: 5;
    left: 20px;
    top: 239px;
    width: 150px;
    text-align: center;
}

div#nav a {
    display: block;
    font-size: 16px;
    color: #0d8ebe;
    line-height: 31.5px;
}

div#nav a:hover {
    letter-spacing: 2px;
}

div#news {
    position: absolute;
    z-index: 5;
    right: -28px;
    top: 105px;
    width: 290px;
    height: 145px;
    padding: 5px;
    overflow: auto;
    color: #536c76;
}

div#news a, div#post a {
    color: var(--ulin);
}

div#news::-webkit-scrollbar {
    background: transparent;
    display: block;
    width: 6px;
}
div#news::-webkit-scrollbar-track {
    margin-top: 27px;
    background: #55c7ef;
}

div#bestPost {
    position: absolute;
    z-index: 5;
    right: -57.5px;
    top: 360px;
}

div#bestPost .body {
    width: 325px;
    height: 50px;
    padding: 5px 10px 5px 5px;
    overflow: auto;
    color: #536c76;
    text-align: justify;
}
div#bestPost #author {
    position: absolute;
    top: -35px;
    left: 135px;
}
div#bestPost #author a {
  color: #03a0c8;
  font-family: 'BuyanRegular';
  font-size: 16px;
}

div#bestPost .body::-webkit-scrollbar {
    background: transparent;
    display: block;
    width: 6px;
}
div#bestPost .body::-webkit-scrollbar-track {
    margin-top: 8px;
    background: #55c7ef;
}

#need1, #need2 {
    position: absolute;
    z-index: 5;
}

#need1 {
    right: 280px;
    top: 110px;
}
#need2 {
    right: -60px;
    top: 135px;
}

#need1 a, #need2 a {
    display: block;
}
